.app6-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
  background-color: black;
}

.content-box {
  background-color: palegoldenrod;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.profile-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.profile-initial {
  font-size: 24px;
  font-weight: bold;
}

.profile-text {
  font-size: 18px;
}

.options-container,
.account-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}

.icon {
  width: 50px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  width: 100%;
  padding: 12px;
  background-color: #f7c346;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f4a261;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .app6-container {
    padding: 20px;
    margin-top: 50px;
  }

  .profile-circle {
    width: 50px;
    height: 50px;
  }

  .profile-initial {
    font-size: 18px;
  }

  .profile-text {
    font-size: 16px;
  }

  .options-container,
  .account-options {
    width: 100%;
    align-items: center;
  }

  .option {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }

  .icon {
    width: 40px;
    height: 30px;
  }

  .logout-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .app6-container {
    padding: 15px;
  }

  .profile-circle {
    width: 45px;
    height: 45px;
  }

  .profile-initial {
    font-size: 16px;
  }

  .profile-text {
    font-size: 14px;
  }

  .logout-button {
    font-size: 12px;
    padding: 10px;
  }
}
